
<mat-card class="car-card">
  <mat-card-title>{{car?.make}} {{car?.model}}</mat-card-title>
  <mat-card-subtitle>{{car?.price}}<span style="font-size: 10px"> SKU: {{car?._id}}</span></mat-card-subtitle>

  <mat-card-content>
    <ul>
      <li>Year: {{car?.year}}</li>
      <li>Miles: {{car?.miles | number}}</li>
      <li>Color: {{car?.color}}</li>
      <li>City Mileage: {{car?.cityMileage.low}} - {{car?.cityMileage.high}}</li>
      <li>Highway Mileage: {{car?.highwayMileage.low}} - {{car?.highwayMileage.high}}</li>
      <li>Description: {{car?.description}}</li>
    </ul>
  </mat-card-content>
</mat-card>

