@import "src/variables";

.car-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  width: 100%;
  min-height: fit-content;
  max-height: 100%;
  overflow: auto;

  li {
    display: flex;
    margin: 8px;
    width: 20%;

    .car-listing {
      display: flex;
      width: 100%;
    }
  }
}

@media (max-width: 1600px) {
  .car-list {
    li {
      width: 30%
    }
  }
}

@media (max-width: 1000px) {
  .car-list {
    li {
      width: 35%
    }
  }
}

@media (max-width: 750px) {
  .car-list {
    li {
      width: 100%
    }
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - #{$header-height});
}

.loading-mask {
  position: relative;
}

.loading-mask::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 66, 255);
}

.filter-vert-line {
  border-left: 1px solid #C1C1C1;
  margin-left: 8px;
  margin-right: 8px
}
