<div class="page-container">
  <h1 class="text-color">Car Listings</h1>

  <div style="display: flex">
    <app-car-filters [cars]="carData" (filteredCars)="filteredCars = $event; resetPage()"></app-car-filters>
    <div class="filter-vert-line"></div>
    <app-car-sorting [cars]="filteredCars" (sortedCars)="filteredCars = $event; pageEvent()" style="margin-right: 8px"></app-car-sorting>
  </div>

  <ul class="car-list" [ngClass]="{'lmask': (carLoadingService.loading$ | async)}">
    <li *ngFor="let car of pagedCars">
      <app-car-listing
        [car]="car"
        class="car-listing"
      ></app-car-listing>
    </li>
  </ul>

  <mat-paginator
    #paginator
    [length]="filteredCars.length"
    [pageSize]="50"
    [pageSizeOptions]="[5,10,25,50,100]"
    (page)="pageEvent($event)"
    style="margin-top: 4px"
  >
  </mat-paginator>

</div>
