.year-range-filter {
  display: flex;
  align-items: flex-end;
  margin-top: -22px;

  h4 {
    color: #C1C1C1;
    margin-right: 8px;
  }

  p-slider {
    margin-left: 8px
  }

  mat-form-field {
    width: 100px;
    margin-left: 4px;
    margin-right: 4px;
    color: #C1C1C1;
  }
}

.filter-option {
  margin-left: 4px;
  margin-right: 4px;
}

.filters-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
