<div class="filters-container">
  <mat-form-field class="filter-option">
    <mat-label>Make</mat-label>
    <mat-select [formControl]="filterFormGroup.controls[CarFilterControls.MAKE]" [multiple]="true">
      <mat-option>
        <ngx-mat-select-search [formControl]="makeOptionFilter" placeholderLabel="Search"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let make of filterOptionsSearched.make" [value]="make">{{make}}</mat-option>
    </mat-select>
    <button
      matSuffix mat-button mat-icon-button
      class="text-color"
      matTooltip="Clear Filter"
      (click)="filterFormGroup.controls[CarFilterControls.MAKE].setValue(null); filterFormGroup.controls[CarFilterControls.MODEL].setValue(null);  $event.stopPropagation()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <mat-form-field class="filter-option">
    <mat-label>Model</mat-label>
    <mat-select [formControl]="filterFormGroup.controls[CarFilterControls.MODEL]" [multiple]="true">
      <mat-option>
        <ngx-mat-select-search [formControl]="modelOptionFilter" placeholderLabel="Search"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let model of filterOptionsSearched.model" [value]="model">{{model}}</mat-option>
    </mat-select>
    <button
      matSuffix mat-button mat-icon-button
      class="text-color"
      matTooltip="Clear Filter"
      (click)="filterFormGroup.controls[CarFilterControls.MODEL].setValue(null); $event.stopPropagation()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="filter-option">
    <mat-label>Color</mat-label>
    <mat-select [formControl]="filterFormGroup.controls[CarFilterControls.COLOR]" [multiple]="true">
      <mat-option>
        <ngx-mat-select-search [formControl]="colorOptionFilter" placeholderLabel="Search"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let color of filterOptionsSearched.color" [value]="color">{{color}}</mat-option>
    </mat-select>
    <button
      matSuffix mat-button mat-icon-button
      class="text-color"
      matTooltip="Clear Filter"
      (click)="filterFormGroup.controls[CarFilterControls.COLOR].setValue(null); $event.stopPropagation()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="year-range-filter filter-option">
    <h4>Year: </h4>
    <div>
      <p-slider
        [formControl]="filterFormGroup.controls[CarFilterControls.YEAR]"
        [range]="true"
        [max]="MAX_YEAR"
      ></p-slider>

      <div style="display: flex">
        <mat-form-field>
          <mat-label></mat-label>
          <input matInput
                 [value]="filterFormGroup.controls[CarFilterControls.YEAR].value[0] + MIN_YEAR"
                 (change)="updateYearRange($event.target.value, 0)"
                 type="number"
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label></mat-label>
          <input matInput
                 [value]="filterFormGroup.controls[CarFilterControls.YEAR].value[1] + MIN_YEAR"
                 (change)="updateYearRange($event.target.value, 1)"
                 type="number"
          >
        </mat-form-field>
      </div>
    </div>
  </div>

  <button mat-button class="text-color" style="margin-left: 8px" (click)="clearFilters()">
    Clear Filters
  </button>
</div>
