<mat-form-field class="filter-option">
  <mat-label>Sort By</mat-label>
  <mat-select [formControl]="sortByControl">
    <mat-option *ngFor="let option of sortByOptions" [value]="option">{{option}}</mat-option>
  </mat-select>
</mat-form-field>

<button
  mat-icon-button
  matTooltip="Change Sort Direction"
  (click)="sortOrderIcon === 'pi-sort-amount-down' ? sortOrderIcon = 'pi-sort-amount-up': sortOrderIcon = 'pi-sort-amount-down'; sortCars()">
  <i [class]="'pi text-color ' + sortOrderIcon"></i>
</button>
